.main {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.general-list {
  background-color: gray;
  text-align: center;
}
.favorite-list {
  text-align: center;
}

.ul {
  list-style: none;
  text-align: center;
}

.favoriteColor-items {
  background-color: palevioletred;
  color: aliceblue;
}
